<h2>Вывод всех заказов</h2>

<table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Имя</th>
          <th>Телефон</th>
          <th>Адрес доставки</th>
          <th>Продукт</th>
        </tr>
      </thead>
      <tbody>
      	<% @cart_admin.each do |cart| %>
        <tr>
          <td><%= cart.id %></td>
          <td><%= cart.name %></td>
          <td><%= cart.phone %></td>
          <td><%= cart.address %></td>
          <td><%= cart.orders_input %></td>
        </tr>
        <% end %>
      </tbody>
    </table>